.carousel-container {
   display: grid;
   grid-template-columns: 1fr max-content max-content calc(5% - 0.5rem);
   grid-template-rows: max-content max-content;
   gap: 0.5rem;
   position: relative;

   @media (width < 56.25rem) {
      grid-template-columns: 1fr max-content max-content;
   }

   & > .carousel {
      grid-column: 1 / -1;
   }

   & > button {
      grid-row: 2;
   }

   & > .carousel-container_back-button {
      anchor-name: --back-button;
      grid-column: 2;
   }

   & > .carousel-container_forward-button {
      grid-column: 3;
   }
}

.carousel {
   display: flex;
   gap: 1rem;
   overflow: auto;
   padding-block-end: 0.5rem;
   scroll-snap-type: x mandatory;
   scroll-timeline: --carousel;
   scroll-timeline-axis: inline;

   scrollbar-width: none;

   @supports (animation-timeline: --carousel) {
      &::before {
         --completion-percentage: 0%;
         --rounding-interval: calc(100% / var(--number-of-slides, 100));
         --gradient-stop: round(up, max(var(--completion-percentage), 1%), var(--rounding-interval));

         content: "";
         display: block;
         position: absolute;
         position-anchor: --back-button;
         inset-inline: 5% calc(anchor(start) + 1rem);
         inset-block: anchor(center);
         height: 0.5rem;
         width: min(calc(2rem * var(--number-of-slides)), 100%);

         mask-image: linear-gradient(0.25turn, black calc(100% - 0.25rem), transparent calc(100% - 0.25rem));
         mask-size: var(--rounding-interval);

         animation: --completion 1ms linear forwards;
         animation-timeline: --carousel;

         @media (width < 56.25rem) {
            inset-inline-start: 0;
         }

         background-image: linear-gradient(
            0.25turn,
            var(--color-surface-inverse) var(--gradient-stop),
            var(--color-border-on-surface) var(--gradient-stop)
         );
      }

      &::-webkit-scrollbar {
         display: none;
      }
   }

   @media (width < 56.25rem) {
      mask-image: none;
   }

   & > .carousel_slide {
      flex: 0 0 auto;
      width: 90%;
      border: 1px solid var(--color-border-on-surface);
      overflow: hidden;
      border-radius: 0.75rem;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      display: grid;

      background-color: var(--color-surface-2);

      @supports (animation-timeline: scroll()) {
         animation: --slide-border 1ms linear;
         animation-timeline: view(inline);
         animation-range: cover;
      }

      & > p {
         margin: 0.5rem;
      }

      & > img {
         width: 100%;
         height: auto;
         max-width: unset;
      }

      @media (width >= 56.25rem) {
         &:first-child {
            margin-inline-start: 5%;
         }

         &:last-child {
            margin-inline-end: 5%;
         }
      }

      @media (width < 56.25rem) {
         width: 100%;
      }
   }
}

@keyframes --slide-border {
   29.9%,
   70.1% {
      border-color: var(--color-border-on-surface);
   }

   30%,
   70% {
      border-color: var(--color-border-input-focus);
   }
}

@property --completion-percentage {
   syntax: "<percentage>";
   inherits: true;
   initial-value: 0%;
}

@keyframes --completion {
   from {
      --completion-percentage: 0%;
   }

   to {
      --completion-percentage: 100%;
   }
}
