.leading-image {
   margin: 4rem auto;

   max-width: min(100% - var(--page-padding) * 2, var(--container-lg-width));
   height: auto;

   background-color: var(--color-surface-4);
   border: 1px solid var(--color-border-on-surface);
   border-radius: 0.75rem;

   transition: border-color 50ms linear;

   @media (pointer: fine) {
      &:hover {
         border-color: var(--color-border-input-focus);
      }
   }
}

.hero,
.hero + .divide,
.hero + .divide + .carousel-container {
   opacity: 0;
   animation: --show 700ms var(--easing-overshoot) forwards;
}

.hero + .divide {
   animation-delay: 50ms;
}

.hero + .divide + .carousel-container {
   animation-delay: 100ms;
}

@keyframes --show {
   from {
      opacity: 0;
      filter: blur(10px);
      translate: 0 5rem;
   }

   to {
      opacity: 1;
      translate: 0;
   }
}

section + section {
   margin-block-start: 6.25rem;
}
