.form-two-col {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(49%, 250px), 1fr));
   gap: 1rem;
}

.form-field {
   display: grid;
   gap: 0.5rem;

   &.full {
      grid-column: 1 / -1;
   }

   &.actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   label {
      transition: color 50ms linear;
   }

   &:has(:focus-visible) label {
      color: var(--color-text-emphasis);
   }
}

input,
select,
textarea {
   background-color: var(--color-surface-3);
   border: 1px solid var(--color-border-on-surface);
   border-radius: 0.25rem;
   padding: 0.5em 1em;
   font-size: var(--fs-p);
   outline: 0.25rem solid transparent;
   transition: 50ms linear;
   transition-property: border-color, outline-color;
   color: var(--color-text-emphasis);

   @media (pointer: fine) {
      &:hover {
         border-color: color-mix(in oklch, var(--color-border-on-surface), var(--color-border-input-focus));
      }
   }

   &:focus-visible {
      outline-color: var(--color-outline);
      border-color: var(--color-border-input-focus);
   }
}

textarea {
   resize: vertical;
   field-sizing: content;
   min-height: 4lh;
   max-height: 10lh;
   padding: 0.625em 1em;
}

select {
   appearance: none;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='white'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: calc(100% - 1rem) center;

   @media (prefers-color-scheme: light) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='black'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
   }
}
