@import "reset.css";
@import "typography.css";
@import "colors.css";
@import "forms.css";

@import "components/button.css";

::selection {
   background-color: var(--color-text-link);
   color: var(--color-surface);
}

:root {
   --page-padding: 1rem;
   --container-sm-width: 43.75rem;
   --container-width: 56.25rem;
   --container-lg-width: 75rem;

   --mobile-nav-height: 4.5rem;

   --z-modal: 20;
   --z-nav: 10;

   --easing-overshoot: linear(
      0,
      0.495 4.9%,
      0.859 10.3%,
      1.097 16.3%,
      1.173 19.6%,
      1.222 23.1%,
      1.249 28%,
      1.24 33.8%,
      1.209 39.1%,
      1.08 56.6%,
      1.024 69%,
      1.004 80.9%,
      1
   );
}

body,
html {
   --solid-line-color: color-mix(in oklch, var(--color-border-on-surface), var(--color-surface) 85%);
   --dim-line-color: color-mix(in oklch, var(--color-surface), var(--solid-line-color));

   --num-grid-cells: 10;
   --bg-size-offset: 1.5px;

   @media (width < 56.25rem) {
      --num-grid-cells: 5;
      --bg-size-offset: 3px;
   }

   --background-size: calc(100vw / var(--num-grid-cells) - var(--bg-size-offset));

   background-color: var(--color-surface);
   background-image:
      linear-gradient(var(--solid-line-color) 2px, transparent 2px),
      linear-gradient(90deg, var(--solid-line-color) 2px, transparent 2px),
      linear-gradient(var(--dim-line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--dim-line-color) 1px, transparent 1px);
   background-size:
      var(--background-size) var(--background-size),
      var(--background-size) var(--background-size),
      calc(var(--background-size) / 4) calc(var(--background-size) / 4),
      calc(var(--background-size) / 4) calc(var(--background-size) / 4);
   background-position:
      -2px calc(-2px + var(--background-y-offset)),
      -2px calc(-2px + var(--background-y-offset)),
      -1px calc(-1px + var(--background-y-offset)),
      -1px calc(-1px + var(--background-y-offset));
   scroll-padding-block-start: 10rem;

   scrollbar-gutter: stable;

   @media (width < 62.5rem) {
      scroll-padding-block-start: calc(var(--mobile-nav-height) + 2rem);
   }

   @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
   }
}

.container {
   --width: var(--container-width) /* 900px */;

   max-width: min(100% - var(--page-padding) * 2, var(--width));
   margin-inline: auto;

   &.lg {
      --width: var(--container-lg-width); /* 1200px */
   }

   &.sm {
      --width: var(--container-sm-width);
   }
}

svg {
   [fill],
   &[fill] {
      fill: currentColor;
   }

   [stroke],
   &[stroke] {
      stroke: currentColor;
   }
}

.divide {
   width: min(100% - var(--page-padding) * 2, 34.375rem) /* 550px */;
   margin: 6.25rem /* 100px */ auto;

   gap: 0.5rem;

   &:not(:empty) {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;

      .btn {
         margin-block: -50%;
         overflow: clip;

         svg {
            filter: drop-shadow(0 -2.5rem 0px var(--color-text-emphasis));
         }

         @media (prefers-reduced-motion: no-preference) {
            &:hover svg {
               animation: --arrow-down 800ms var(--easing-overshoot);
            }
         }
      }
   }

   &::before,
   &:not(:empty)::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--color-border-on-surface);
   }
}

.code-block {
   padding-block: 0 0 1rem 0;
   margin-block: 2rem !important;
   background-color: var(--color-surface-2) !important;
   border: 1px solid var(--color-border-on-surface);
   border-radius: 0.75rem;
   overflow: clip;
   position: relative;

   &.will-cutoff:not(.open) {
      & > pre {
         height: 18.75rem;
         mask-image: linear-gradient(0.5turn, black 10rem, transparent 18.75rem);
      }

      & > pre {
         overflow: hidden !important;
         z-index: 1;
      }
   }

   & > footer {
      display: grid;
      padding: 0.5rem;
      background-color: var(--color-surface-2);
      border-block-start: 1px solid transparent;

      .open & {
         position: sticky;
         bottom: 0;
         border-color: var(--color-border-on-surface);

         .btn svg {
            rotate: 180deg;
         }
      }
   }

   & header {
      margin-block-end: 1rem;
      padding: 0.5rem 1rem;
      gap: 0.5rem;
      border-block-end: 1px solid var(--color-border-on-surface);
      display: flex;
      align-items: center;

      & > p {
         font-size: var(--fs-sm);
      }

      & > .btn:not(:is(.btn + *)) {
         margin-inline-start: auto;
      }
   }

   & > pre {
      padding-block: 0 !important;
      margin: 0 !important;
   }

   & > pre,
   & > pre * {
      background-color: transparent !important;
      line-height: 1.75 !important;
   }
}

p > code {
   padding: 0.1lh 0.25ch;
   background-color: var(--color-surface-2);
   border: 1px solid var(--color-border-on-surface);
   border-radius: 0.5rem;
}

footer {
   text-align: center;
   padding-block: 2em;
}

@keyframes --arrow-down {
   from {
      translate: 0;
      opacity: 1;
   }

   to {
      translate: 0 2.5rem;
   }
}
